.optionButton {
  display: block;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: 1px solid #333;
  border-radius: 5px;
}

.optionButton:hover {
  background-color: #4fddbf;
  color: #222;
}
